#passwordlearn{
  width:400px;
  height:300px;
  border: solid;
  border-color: #000000;
  margin-left: -60px
}
#passwordlearn-text{
  position: absolute;
  font-size: 12px;
  margin-top: -312px;
  padding-left: 384px
}