
quiz-title{
  font-size: 20px;
  margin-left: 25px;
  text-align: center;
  color: #ffffff;
  margin-top: 3px;
}
#phishing-Quiz-img{
  position: absolute;
  width: 600px; 
  height: 420px; 
  top:140px;
  left:1%; 
}
#paddingleft{
  Padding-left: 560px;
  Padding-top: 85px;
  font-size: 10px;
}