<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>PasswordsQuiz</title>
  <link rel="stylesheet" href="static/Masterpage.css">
  <link rel="stylesheet" href="static/learning.css/Password.css"> 
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Aclonica&display=swap">
  <script src="../static/scripts/scripts.js"></script>
</head>
<body>
  <div id="master-container-position">
    <div id="master-container">
      <div id="master-banner">
        <h2>Cyber Security</h2>
        <h1>Awareness</h1>
        <img src="static/image/logo.png" id="master-banner-img" alt="insert image"</img>
      </div>
      <div style="padding-top: 58.97px;height: 17px;" id="master-pagetitle">
        <h3 style="font-size: 29px; margin-top:-55px"> Passwords Quiz </h3>
      </div>
      <div class="hidden" id="master-dropdown-menu">
        <form action="/Passwords" method="post">
            <button id="dropdown-password-button"> Passwords </button> 
          </form>
          <form action="/Social" method="post">
            <button id="dropdown-social-engineering-button" action="/Social"> Social Engineering </button>         
          </form>
          <form action="/Phishing" method="post"> 
            <button id="dropdown-phishing-button"> Phishing </button> 
          </form>
          <form action="/InsiderThreats" method="post">
            <button id="dropdown-insider-threats-button"> Insider Threats </button> 
          </form>
          <form action="/USB" method="post">
            <button id="dropdown-USB-button"> USB </button> 
          </form>
        </div>
      <div style = "margin-top: -75.5px" id="master-dropdown">
        <button id="master-dropdown-button" onclick="showdropdown()">
         <img src="static/image/dropdown.png"> </img>
        <div id="master-dropdown-menu" class="hidden">
        </div>
        </button>
      </div>
      <p>How many components are there to a strong password?</p>
      <input type="radio" id="components-four" name="StrongPass_Comp" value="4">
      <label for="four">4</label><br>
      <input type="radio"id="components-twelve" name="StrongPass_Comp" value="12">
      <label for="twelve">12</label><br>
      <input type="radio" id="components-ten" name="StrongPass_Comp" value="10">
      <label for="ten">10</label><br>
      <input type="radio"id="components-seven" name="StrongPass_Comp" value="7">
      <label for="seven">7</label>

      <p>What is the recommened minimum length for a password?</p>
      <input type="radio" id="length-twelve" name="MinLength_Pass" value="12">
      <label for="twelve">12</label><br>
      <input type="radio"id="length-seven" name="MinLength_Pass" value="7">
      <label for="seven">7</label><br>
      <input type="radio" id="length-nine" name="MinLength_Pass" value="9">
      <label for="nine">9</label><br>
      <input type="radio"id="length-fifteen" name="MinLength_Pass" value="15">
      <label for="fifteen">15</label>

      <p>Which of the below is the strongest password?</p>
      <input type="radio" id="PassA" name="Strongest_Pass" value="A">
      <label for="A">Employee321</label><br>
      <input type="radio" id="PassB" name="Strongest_Pass" value="B">
      <label for="B">ScAmm3r20</label><br>
      <input type="radio" id="PassC" name="Strongest_Pass" value="C">
      <label for="C">E3qa-ddaQW43-EQ31e</label><br>
      <input type="radio" id="PassD" name="Strongest_Pass" value="D">
      <label for="D">H3ll0-HeLLo</label>

      <p>Is the following statement true or false?</p>
      <p>"You should use the same password for different sites so you can remember it easily"</p>
      <input type="radio" id="True" name="Reuse_Pass" value="True">
      <label for="True">True</label><br>
      <input type="radio" id="False" name="Reuse_Pass" value="False">
      <label for="False">False</label><br>
      <button id="master-nextpage-button" onclick="confirm_answers_password()" >Submit</button>
      </div>
  </div>
</body>
</html>