<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>PhishingQuiz</title>
  <link rel="stylesheet" href="static/Masterpage.css">
  <link rel="stylesheet" href="static/Quiz/PhishQuiz.css"> 
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Aclonica&display=swap">
  <script src="../static/scripts/scripts.js"></script>
</head>
<body>
  <div id="master-container-position">
    <div id="master-container">
      <div id="master-banner">
        <h2>Cyber Security</h2>
        <h1>Awareness</h1>
        <img src="static/image/logo.png" id="master-banner-img" alt="insert image"</img>
      </div>
      <div style="height:47px; padding-top:29.29px" id="master-pagetitle">
        <quiz-title> Phishing Quiz </quiz-title>
      </div>
      <div class="hidden" id="master-dropdown-menu">
        <form action="/Passwords" method="post">
            <button id="dropdown-password-button"> Passwords </button> 
          </form>
          <form action="/Social" method="post">
            <button id="dropdown-social-engineering-button" action="/Social"> Social Engineering </button>         
          </form>
          <form action="/Phishing" method="post"> 
            <button id="dropdown-phishing-button"> Phishing </button> 
          </form>
          <form action="/InsiderThreats" method="post">
            <button id="dropdown-insider-threats-button"> Insider Threats </button> 
          </form>
          <form action="/USB" method="post">
            <button id="dropdown-USB-button"> USB </button> 
          </form>
        </div>
      <div style="margin-top:-76.5px" id="master-dropdown">
        <button id="master-dropdown-button" onclick="showdropdown()">
         <img src="static/image/dropdown.png"> </img>
        <div id="master-dropdown-menu" class="hidden">
        </div>
        </button>
      </div>
      <div id="paddingleft">
      <p>Which of the below are true or false?</p>
      <p>A: Sent at out of office hours?</p>
      <input type="radio" id="components-four" name="Phish_Hours" value="True">
      <label for="four">True</label><br>
      <input type="radio"id="components-twelve" name="Phish_Hours" value="False">
      <label for="twelve">False</label><br>


      <p>B: Fake senders email in header information?</p>
      <input type="radio" id="length-twelve" name="Phish_Header" value="True">
      <label for="True">True</label><br>
      <input type="radio"id="length-seven" name="Phish_Header" value="False">
      <label for="False">False</label><br>


      <p>C: You know you don’t have a parcel coming?</p>
      <input type="radio" id="PassA" name="Phish_Parcel" value="True">
      <label for="True">True</label><br>
      <input type="radio" id="PassB" name="Phish_Parcel" value="False">
      <label for="Fale">False</label><br>

      <p>D: The fact they give no extra information or photo’s</p>
      <input type="radio" id="True" name="Phish_Info" value="True">
      <label for="True">True</label><br>
      <input type="radio" id="False" name="Phish_Info" value="False">
      <label for="False">False</label><br>
      <button id="master-nextpage-button" onclick="confirm_answers_phish()"> Submit </button>
      </div>
      <img style="position:absolute" src="static/image/PhishQuizMat.png" id="phishing-Quiz-img" alt="insert image"</img>
      </div>
  </div>
</body>
</html>