<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Social Engineering</title>
  <link rel="stylesheet" href="static/Masterpage.css">
  <link rel="stylesheet" href="static/learning.css/Social.css"> 
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Aclonica&display=swap">
  <script src="../static/scripts/scripts.js"></script>
</head>
<body>
  <div id="master-container-position">
    <div id="master-container">
      <div id="master-banner">
        <h2>Cyber Security</h2>
        <h1>Awareness</h1>
        <img src="static/image/logo.png" id="master-banner-img" alt="insert image"</img>
      </div>
      <div  id="master-pagetitle">
        <h3> Social </h3>
      </div>
      <div class="hidden" id="master-dropdown-menu">
        <form action="/Passwords" method="post">
            <button id="dropdown-password-button"> Passwords </button> 
          </form>
          <form action="/Social" method="post">
            <button id="dropdown-social-engineering-button" action="/Social"> Social Engineering </button>         
          </form>
          <form action="/Phishing" method="post"> 
            <button id="dropdown-phishing-button"> Phishing </button> 
          </form>
          <form action="/InsiderThreats" method="post">
            <button id="dropdown-insider-threats-button"> Insider Threats </button> 
          </form>
          <form action="/USB" method="post">
            <button id="dropdown-USB-button"> USB </button> 
          </form>
        </div>
      <div style="margin-top:-115.5px" id="master-dropdown">
        <button id="master-dropdown-button" onclick="showdropdown()">
         <img src="static/image/dropdown.png"> </img>
        <div id="master-dropdown-menu" class="hidden">
        </div>
        </button>
      </div>
      <button id="master-nextpage-button">Next Page</button>
      <h4><u> Social Engineering Quiz </u></h4>
      <p style="position:absolute ; margin-top:-12.5px">Q1- How many stages of a social engineering attack are there? </p>
       <p style="position:absolute ; margin-top:11.5px">A - 1 </p>
       <p style="position:absolute ; margin-top:30.5px">B - 4 </p>
       <p style="position:absolute ; margin-top:48.5px">C - 3 </p>
       <p style="position:absolute ; margin-top:67.5px">D - 3 </p>
      <p style="position:absolute ; margin-top:85.5px">Q2- What is the goal of a social engineering attack? </p>
       <p style="position:absolute ; margin-top:108.5px">A - To Manipulate and gain control a computer sytem </p>
       <p style="position:absolute ; margin-top:129.5px">B - To use worms to courrpt a computer system </p>
       <p style="position:absolute ; margin-top:149.5px">C - To intercept packets and eavsdrop on sensative information </p>
       <p style="position:absolute ; margin-top:171.5px">D - To deny any service to a computer system </p>
      <p style="position:absolute ; margin-top:193.5px">Q3- How can a user prevent themselves from being a target? </p>
       <p style="position:absolute ; margin-top:215.5px">A - Post work related content on social media </p>
       <p style="position:absolute ; margin-top:237.5px">B - Talk about sensative information in public areas </p>
       <p style="position:absolute ; margin-top:257.5px">C - Be careful on what you say online and in person </p>
       <p style="position:absolute ; margin-top:275.5px">D - Click on links found in your junk section of your email page </p>
      <p style="position:absolute ; margin-top:300px">Q4- Which of these below are social engineering techniques? </p>
       <p style="position:absolute ; margin-top:320px">A - manipulation </p>
       <p style="position:absolute ; margin-top:340px">B - impersonation </p>
       <p style="position:absolute ; margin-top:360px">C - phishing  </p>
       <p style="position:absolute ; margin-top:380px">D - All of the above </p>
    </div>
  </div>
</body>
</html>