h1 {
  font-size: 40px;
  margin-left: 22px;
  margin-top: -30px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 0px;
}
h3 {
  font-size: 40px;
  margin-top: -60px;
  text-align: center;
  color: #ffffff;
}
body {
  font-family: 'Aclonica', sans-serif;
  font-size: 15px;
}

h2 {
  font-size: 30px;
  margin-left: 25px;
  text-align: center;
  color: #ffffff;
  margin-top: 3px;
}

h4 {
  text-align: center;
  color: #000000;
}

button{
  cursor: pointer;
}

.hidden{
  opacity: 0;
  width: 0%;
}

.visible{
  opacity: 1;
  width: 30%;
}

#master-container {
  width: 700px;
  height: 500px;
  margin: 0 auto;
  padding: 80px;
  position: relative;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

#master-container-position{
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh;
}

#master-banner{
  position: relative;
  margin-top: -80px;
  margin-left: -80px;
  margin-right: 400px;
  border-top-left-radius: 7px;
  background-color: #3C1053;
  overflow: hidden;
}

#master-banner-img{
  position: absolute;
  width: 55px; 
  height: 55px; 
  top:11px;
  left:5%; 
}

#master-pagetitle{
  padding-top: 75.97px;
  margin-top: -76.5px;
  margin-left: 306px;
  margin-right: 202px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: #3C1053;
}

#master-dropdown{
  height:76.89px;
  margin-top: -115.5px;
  margin-left: 718px;
  margin-right: -80px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 7px;
  background-color: #3C1053;
  overflow:hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 999;
}
#master-dropdown-button{
  display: inline-block;
  border: none;
  background: none;
}

#master-dropdown-menu{
  background-color:#e2dce5;
  height: 100%;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  position: absolute;
  top:0;
  right:0;
  z-index: 998;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center items vertically */
  transition: opacity 0.5s ease-in-out, width 0.5s ease-in-out;
}
#dropdown-social-engineering-button {
  width: 38%;
  padding: 9px;
  margin-top: -218.5px;
  margin-left: 84px;
  font-family: 'Aclonica', sans-serif;
  border: none;
  text-align: center;
  border-radius: 5px;
  background-color: #3C1053;
  color: #fff;
  font-weight: bold;
  position: absolute;
  cursor: pointer;
}
#dropdown-phishing-button {
  width: 38%;
  padding: 9px;
  margin-top: -117.5px;
  margin-left: 84px;
  font-family: 'Aclonica', sans-serif;
  border: none;
  text-align: center;
  border-radius: 5px;
  background-color: #3C1053;
  color: #fff;
  position: absolute;
  font-weight: bold;
  cursor: pointer;
}
#dropdown-password-button {
  width: 38%;
  padding: 9px;
  margin-top: -28.5px;
  margin-left: 84px;
  font-family: 'Aclonica', sans-serif;
  border: none;
  text-align: center;
  border-radius: 5px;
  background-color: #3C1053;
  color: #fff;
  position: absolute;
  font-weight: bold;
  cursor: pointer;
}

#dropdown-insider-threats-button {
  width: 38%;
  padding: 9px;
  margin-top: 61.5px;
  margin-left: 84px;
  font-family: 'Aclonica', sans-serif;
  border: none;
  text-align: center;
  border-radius: 5px;
  background-color: #3C1053;
  color: #fff;
  position: absolute;
  font-weight: bold;
  cursor: pointer;
}

#dropdown-USB-button {
  width: 38%;
  padding: 9px;
  margin-top: 170.5px;
  margin-left: 84px;
  font-family: 'Aclonica', sans-serif;
  border: none;
  text-align: center;
  border-radius: 5px;
  background-color: #3C1053;
  color: #fff;
  position: absolute;
  font-weight: bold;
  cursor: pointer;
}
#master-nextpage-button {
  width: 15%;
  padding: 9px;
  bottom:0;
  right:0;
  font-family: 'Aclonica', sans-serif;
  border: none;
  text-align: center;
  border-radius: 5px;
  background-color: #3C1053;
  color: #fff;
  position: absolute;
  font-weight: bold;
  cursor: pointer;