<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Login Page</title>
  <link rel="stylesheet" href="static/style.css">
</head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Aclonica&display=swap">
  <style>
    body {
      font-family: 'Aclonica', sans-serif;
    }
  </style>
<body>
  <div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <div id="login-container">
      <div id="login-banner">
        <img src="static/image/logo.png" id="login-banner-img" alt="insert image"</img> 
        <h2>Cyber Security</h2>
        <h1>Awareness</h1> 
      </div>
      <form method="POST" action="/login">
        <div class="input-container">
          <input type="text"  placeholder="Enter Username"  name="username" required> 
          <img src="static/image/user.png" class="overlay-image" alt="Image">
        </div>
        <div class= "input-container">
          <input type="password" placeholder="Enter Password" name="password" required>
          <img src="static/image/key.png" class="overlay-image" alt="Image">
        </div>
        <button type="submit">Login</button>
        <div class="forgot-password">
          <a href="/forgotten_password.html">Need assistance logging in?</a>
        </div>
    </div>
  </div>
</body>
</html>
