<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/Masterpage.css">
  <link rel="stylesheet" href="static/dashboard.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Aclonica&display=swap">
  <title>Welcome Page</title>
</head>
<body>
  <div id="master-container-position">
    <div id = "master-container">
      <div id="login-banner">
      <h2>Cyber Security</h2>
      <h1>Awareness</h1>
      <img src="static/image/logo.png" id="master-banner-img" alt="insert image"</img>
      </div>
  
      <h3> <p> Welcome users,
      Excited to have you on board! Dive into interactive modules covering a spectrum of Cyber Security techniques, from recognizing and convincing phishing scams to implementing robust password security measures. Our seasoned experts will guide you through immersive, real-life scenarios which offer practical insights into threat detection and response strategies.</p>
      <p> Stay ahead of the curve with regular updates on the ever-evolving landscape of Cyber Security. Engage in hands-on workshops that explore additional techniques, such as secure browsing practices, malware detection, and the importance of software updates. There is no time limit to learning the material and you can re-visit it when pleased, however the quiz is timed and will take around 30 minutes. </p>

      Upon finishing the Cyber Security awareness course you will be granted with a certificate of completion which showcases your newly learned skill of Cyber awareness.</h3>
      <form action="/Social" method="post">
      <button id="start-course"> Start Course </button>
      </form>
   <script src="MainPage.js"></script>
    </div>
    </body>
</html>