<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>InsiderThreats2</title>
  <link rel="stylesheet" href="static/Masterpage.css"> 
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Aclonica&display=swap">
  <script src="../static/scripts/scripts.js"></script>
</head>
<body>
  <div id="master-container-position">
    <div id="master-container">
      <div id="master-banner">
        <h2>Cyber Security</h2>
        <h1>Awareness</h1>
        <img src="static/image/logo.png" id="master-banner-img" alt="insert image"</img>
      </div>
      <div style="height:11px; padding-top:66.29px" id="master-pagetitle">
        <h3 style="font-size: 30px;"> Insider Threats </h3>
      </div>
      <div class="hidden" id="master-dropdown-menu">
        <form action="/Passwords" method="post">
            <button id="dropdown-password-button"> Passwords </button> 
          </form>
          <form action="/Social" method="post">
            <button id="dropdown-social-engineering-button" action="/Social"> Social Engineering </button>         
          </form>
          <form action="/Phishing" method="post"> 
            <button id="dropdown-phishing-button"> Phishing </button> 
          </form>
          <form action="/InsiderThreats" method="post">
            <button id="dropdown-insider-threats-button"> Insider Threats </button> 
          </form>
          <form action="/USB" method="post">
            <button id="dropdown-USB-button"> USB </button> 
          </form>
        </div>
      <div style="margin-top:-77.5px" id="master-dropdown">
        <button id="master-dropdown-button" onclick="showdropdown()">
         <img src="static/image/dropdown.png"> </img>
        <div id="master-dropdown-menu" class="hidden">
        </div>
        </button>
      </div>
      <div id="content">
        <h4>Weapons Against Insider Threats</h4>
        <p><u><body>Employee Training</body></u></p>
        <p><body>Continuously training all authorized users on security policy (e.g., password hygiene, proper handling of sensitive data, reporting lost devices) and security awareness (e.g., how to recognize a phishing scam, how to properly route requests for system access or sensitive data) can help lower the risk of negligent insider threats. </body></p>
        <p><u><body>Identity and Access Management</body></u></p>
        <p><body>Identity and access management (IAM) focuses on managing user identities, authentication and access permissions, in a way that ensures the right users and devices can access the right reasons at the right time. A key IAM function for preventing insider attacks is identity lifecycle management. Limiting the permissions of a departing disgruntled employee or immediately decommissioning accounts of users who have left the company are examples of identity lifecycle management actions that can reduce the risk of insider threats.</body></p>
        <p><u><body>Offensive Security</body></u></p>
        <p><body>Offensive security is conducted typically by ethical hackers—cybersecurity professionals who use hacking skills to detect and fix not only IT system flaws, but security risks and vulnerabilities in the way users respond to attacks. Offensive security measures that can help strengthen insider threat programs include phishing simulations and red teaming, in which a team of ethical hackers launch a simulated, goal-oriented cyberattack on the organization.</body></p>
      </div>
       <form action="/InsiderThreatsQuiz" method="post">
      <button id="master-nextpage-button">Start Quiz</button>
       </form>
      </div>
  </div>
</body>
</html>