<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>InsiderThreats</title>
  <link rel="stylesheet" href="static/Masterpage.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Aclonica&display=swap">
  <script src="../static/scripts/scripts.js"></script>
</head>
<body>
  <div id="master-container-position">
    <div id="master-container">
      <div id="master-banner">
        <h2>Cyber Security</h2>
        <h1>Awareness</h1>
        <img src="static/image/logo.png" id="master-banner-img" alt="insert image"</img>
      </div>
      <div style="height:11px; padding-top:66.29px" id="master-pagetitle">
        <h3 style="font-size: 30px;"> Insider Threats </h3>
      </div>
      <div class="hidden" id="master-dropdown-menu">
        <form action="/Passwords" method="post">
            <button id="dropdown-password-button"> Passwords </button> 
          </form>
          <form action="/Social" method="post">
            <button id="dropdown-social-engineering-button" action="/Social"> Social Engineering </button>         
          </form>
          <form action="/Phishing" method="post"> 
            <button id="dropdown-phishing-button"> Phishing </button> 
          </form>
          <form action="/InsiderThreats" method="post">
            <button id="dropdown-insider-threats-button"> Insider Threats </button> 
          </form>
          <form action="/USB" method="post">
            <button id="dropdown-USB-button"> USB </button> 
          </form>
        </div>
      <div style="margin-top:-77.5px" id="master-dropdown">
        <button id="master-dropdown-button" onclick="showdropdown()">
         <img src="static/image/dropdown.png"> </img>
        <div id="master-dropdown-menu" class="hidden">
        </div>
        </button>
      </div>
      <div id="Content">
        <h4> What is an Insider Threat? </h4>
        <p><body>Insider threats are cybersecurity threats that originate with authorized users—employees, contractors, business partners—who intentionally or accidentally misuse their legitimate access, or have their accounts hijacked by cybercriminals.</body></p>
        <p><body>While external threats are more common and grab the biggest cyberattack headlines, insider threats—whether malicious or the result of negligence—can be more costly and dangerous.</body></p>
        <h4>Types of Insider Threats</h4>
        <p><u><body>Malicous Insiders</body></u></p>
        <p><body>Malicious insiders are usually disgruntled current employees—or disgruntled former employees whose access credentials have not been retired—who intentionally misuse their access for revenge, financial gain, or both.</body></p>
        <p><u><body>Negligent Insiders</body></u></p>
        <p><body>Negligent insiders do not have malicious intent, but create security threats through ignorance or carelessness—e.g., falling for a phishing attack, bypassing security controls to save time, losing a laptop that a cybercriminal can use to access the organization’s network, or emailing the wrong files (e.g., files containing sensitive information) to individuals outside the organization.</body></p>
        <p><u><body>Compromised Insiders</body></u></p>
        <p><body>Compromised insiders are legitimate users whose credentials have been stolen by outside threat actors. Often, compromised insiders are the result of negligent insider behavior. For example, in 2021 a scammer used a social engineering tactic—specifically a voice phishing (vishing) phone call—to gain access credentials to customer support systems at the trading platform Robinhood.</body></p>
      </div>
       <form action="/InsiderThreats2" method="post">
       <button id="master-nextpage-button">Next Page</button>
       </form>
      </div>
  </div>
</body>
</html>