<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Passwords</title>
  <link rel="stylesheet" href="static/Masterpage.css">
  <link rel="stylesheet" href="static/learning.css/Password.css"> 
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Aclonica&display=swap">
  <script src="../static/scripts/scripts.js"></script>
</head>
<body>
  <div id="master-container-position">
    <div id="master-container">
      <div id="master-banner">
        <h2>Cyber Security</h2>
        <h1>Awareness</h1>
        <img src="static/image/logo.png" id="master-banner-img" alt="insert image"</img>
      </div>
      <div id="master-pagetitle">
        <h3 style="font-size: 30px; margin-top:-55px"> Passwords </h3>
      </div>
      <div class="hidden" id="master-dropdown-menu">
        <form action="/Passwords" method="post">
            <button id="dropdown-password-button"> Passwords </button> 
          </form>
          <form action="/Social" method="post">
            <button id="dropdown-social-engineering-button" action="/Social"> Social Engineering </button>         
          </form>
          <form action="/Phishing" method="post"> 
            <button id="dropdown-phishing-button"> Phishing </button> 
          </form>
          <form action="/InsiderThreats" method="post">
            <button id="dropdown-insider-threats-button"> Insider Threats </button> 
          </form>
          <form action="/USB" method="post">
            <button id="dropdown-USB-button"> USB </button> 
          </form>
        </div>
      <div style = "margin-top: -105.5px" id="master-dropdown">
        <button id="master-dropdown-button" onclick="showdropdown()">
         <img src="static/image/dropdown.png"> </img>
        <div id="master-dropdown-menu" class="hidden">
        </div>
        </button>
      </div>
      <form action="/PasswordQuiz" method="post">
      <button id="master-nextpage-button">Next Page</button>
      </form>
      <img id="passwordlearn" src="static/image/passwordlearn.png"></img>
      <div id = "passwordlearn-text">Password attacks are prevelant attacks in the current landscape.<br /> These attacks include; brute force attacks, dictionary <br /> attacks, rainbow table attack and credential stuffing. </div>
      <div style="margin-top: -231px "id = "passwordlearn-text">A strong password is compromised of <b>seven</b> components.</div>
      <div style="margin-top: -189px "id = "passwordlearn-text">1. Length: Passwords should be longer than 10 character.</div>
      <div style="margin-top: -146px "id = "passwordlearn-text">2. Complexity: Should include a mix of upper and lower <br /> case characters, numbers and special characters.</div>
      <div style="margin-top: -88px "id = "passwordlearn-text">3. Avoiding Common Words: Do not use common words <br /> such as nouns or phrases.</div>
      <div style="margin-top: -32px "id = "passwordlearn-text">4. Unique Passwords: Do not use repeated passwords <br /> from other accounts.</div>
      <div style="margin-top: 23px; padding-left:0px"id = "passwordlearn-text">5. Avoiding Predictability: Stay away from patterns or sequences e.g. passwords123.</div>
      <div style="margin-top: 68px; padding-left:0px"id = "passwordlearn-text">6. Regular password changes: Change your password every specified time period e.g. 3 months.</div>
      <div style="margin-top: 112px; padding-left:0px "id = "passwordlearn-text">7. Use Randomness: Using random assortation of characters, numbers and special characters </div>
      <div style="margin-top: 156px; padding-left:0px "id = "passwordlearn-text">Password A is the weakest password and password C is the <b>strongest</b>, password B is medium strength.</div>
      </div>
  </div>
</body>
</html>