<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Phishing</title>
  <link rel="stylesheet" href="static/Masterpage.css">
  <link rel="stylesheet" href="static/learning.css/Phishing.css"> 
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Aclonica&display=swap">
  <script src="../static/scripts/scripts.js"></script>
</head>
<body>
  <div id="master-container-position">
    <div id="master-container">
      <div id="master-banner">
        <h2>Cyber Security</h2>
        <h1>Awareness</h1>
        <img src="static/image/logo.png" id="master-banner-img" alt="insert image"</img>
      </div>
      <div id="master-pagetitle">
        <h3> Phishing </h3>
      </div>
      <div class="hidden" id="master-dropdown-menu">
        <form action="/Passwords" method="post">
            <button id="dropdown-password-button"> Passwords </button> 
          </form>
          <form action="/Social" method="post">
            <button id="dropdown-social-engineering-button" action="/Social"> Social Engineering </button>         
          </form>
          <form action="/Phishing" method="post"> 
            <button id="dropdown-phishing-button"> Phishing </button> 
          </form>
          <form action="/InsiderThreats" method="post">
            <button id="dropdown-insider-threats-button"> Insider Threats </button> 
          </form>
          <form action="/USB" method="post">
            <button id="dropdown-USB-button"> USB </button> 
          </form>
        </div>
        </div>
      <div style="margin-top:-582.5px" id="master-dropdown">
        <button id="master-dropdown-button" onclick="showdropdown()">
         <img src="static/image/dropdown.png"> </img>
        <div id="master-dropdown-menu" class="hidden">
        </div>
        </button>
      </div>