<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Social Engineering</title>
  <link rel="stylesheet" href="static/Masterpage.css">
  <link rel="stylesheet" href="static/learning.css/social.css"> 
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Aclonica&display=swap">
  <script src="../static/scripts/scripts.js"></script>
</head>
<body>
  <div id="master-container-position">
    <div id="master-container">
      <div id="master-banner">
        <h2>Cyber Security</h2>
        <h1>Awareness</h1>
        <img src="static/image/logo.png" id="master-banner-img" alt="insert image"</img>
      </div>
      <div id="master-pagetitle">
        <h3> Social </h3>
      </div>
      <div class="hidden" id="master-dropdown-menu">
        <form action="/Passwords" method="post">
            <button id="dropdown-password-button"> Passwords </button> 
          </form>
          <form action="/Social" method="post">
            <button id="dropdown-social-engineering-button" action="/Social"> Social Engineering </button>         
          </form>
          <form action="/Phishing" method="post"> 
            <button id="dropdown-phishing-button"> Phishing </button> 
          </form>
          <form action="/InsiderThreats" method="post">
            <button id="dropdown-insider-threats-button"> Insider Threats </button> 
          </form>
          <form action="/USB" method="post">
            <button id="dropdown-USB-button"> USB </button> 
          </form>
        </div>
      <div style="margin-top:-115.5px" id="master-dropdown">
        <button id="master-dropdown-button" onclick="showdropdown()">
         <img src="static/image/dropdown.png"> </img>
        <div id="master-dropdown-menu" class="hidden">
        </div>
        </button>
      </div>
      <form action="/SocialQuiz" method="post">
      <button id="master-nextpage-button">Start Quiz</button>
      </form>
       <img src="static/image/sociallearn.png" style="margin-left: 192px ; margin-top:-29.5px" id="social-learn-img" alt="insert image"</img>
        <h4 > What is social engeering? </h4>
        <p style="position:absolute ; margin-top:-12.5px">First and foremost, we need to define social engineering. It is the act of manipulating and influencing an individual in the hope of deceiving them into giving up sensitive information or to gain control over a computer system.</p>
        <p style="position:absolute ; margin-top:41.5px">For an individual to understand social engineering they would need to completely understand the 4 stages of how a social engineering attack is taken place. </p>
        <p style="position:absolute ; margin-top:84.5px">The first stage is gathering of information. This is when the one performing the act will do prior research on their target and find out all of their possible weaknesses. To prevent this a user should be careful on social media and to not disclose company information outside the workplace. </p>
        <p style="position:absolute ; margin-top:159.5px">The second stage is creating a relationship with the target. This can be done via phishing emails or impersonating another employing to trick the target into giving up sensitive information.></p>
        <p style="position:absolute ; margin-top:217.5px">The third stage is the attack itself; this is when the attacker has manipulated the target into revealing information and they now have control. </p>
        <p style="position:absolute ; margin-top:258.5px">The fourth stage is the exit stage, this is when the attacker uses the information, they have for what they want and disappear without a trace. </p>
    </div>
  </div>
</body>
</html>

