<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title> USB </title>
  <link rel="stylesheet" href="static/Masterpage.css">
  <link rel="stylesheet" href="static/learning.css/USB.css"> 
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Aclonica&display=swap">
  <script src="../static/scripts/scripts.js"></script>
</head>
<body>
  <div id="master-container-position">
    <div id="master-container">
      <div id="master-banner">
        <h2>Cyber Security</h2>
        <h1>Awareness</h1>
        <img src="static/image/logo.png" id="master-banner-img" alt="insert image"</img>
      </div>
      <div id="master-pagetitle">
        <h3> USB </h3>
      </div>
      <div class="hidden" id="master-dropdown-menu">
        <form action="/Passwords" method="post">
            <button id="dropdown-password-button"> Passwords </button> 
          </form>
          <form action="/Social" method="post">
            <button id="dropdown-social-engineering-button" action="/Social"> Social Engineering </button>         
          </form>
          <form action="/Phishing" method="post"> 
            <button id="dropdown-phishing-button"> Phishing </button> 
          </form>
          <form action="/InsiderThreats" method="post">
            <button id="dropdown-insider-threats-button"> Insider Threats </button> 
          </form>
          <form action="/USB" method="post">
            <button id="dropdown-USB-button"> USB </button> 
          </form>
      </div>
      <div style="margin-top:-115.5px" id="master-dropdown">
        <button id="master-dropdown-button" onclick="showdropdown()">
         <img src="static/image/dropdown.png"> </img>
        <div id="master-dropdown-menu" class="hidden">
        </div>
        </button>
        <div style="margin-top:-115.5px" id="master-dropdown">
          <button id="master-dropdown-button" onclick="showdropdown()">
           <img src="static/image/dropdown.png"> </img>
          <div id="master-dropdown-menu" class="hidden">
          </div>
          </button>
        </div>
        <div id="USBContent">    
    </div>
  </div>
      <form action="/USB2" method="post">
      <button id="master-nextpage-button"> Next Page </button>
      </form>
            <p class="USBTitle">What is USB?</p>
          <p>USB stands for Universal Serial Bus and is a standard that was established
            in the 1990's.
          </p>
          <p>
            We now see the USB used for the standard across most medians for its reliablilty and versitility such as:
          </p>
          <ul>
              <li>connecting peripherals to a computer.</li>
              <li>transfering data between devices.</li>
              <li>charging devices from a power source.</li>
          </ul>
            <p class = "USBTitle">What do you do?</p>
            <div style="display: inline-flex;">
              <img class = "USBF"src="static/image/USBonthefloor.jpg">
              <ol>
                <li>plug in the device to see whats inside?</li>
                <li id="USBA">leave it on the floor</li>
              </ol>
            </div>
            <button id="Reveal">Reveal</button>
      </div>
    <script>
      document.getElementById("Reveal").addEventListener("click", function() {
        var paragraph = document.getElementById('USBA');
        paragraph.style.color = "red";
        
      });
    </script>
</body>
</html>
