<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title> USB </title>
  <link rel="stylesheet" href="static/Masterpage.css">
  <link rel="stylesheet" href="static/learning.css/USB.css"> 
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Aclonica&display=swap">
  <script src="../static/scripts/scripts.js"></script>
</head>
<body>
  <div id="master-container-position">
    <div id="master-container">
      <div id="master-banner">
        <h2>Cyber Security</h2>
        <h1>Awareness</h1>
        <img src="static/image/logo.png" id="master-banner-img" alt="insert image"</img>
      </div>
      <div id="master-pagetitle">
        <h3> USB </h3>
      </div>
      <div id="master-dropdown">
        <button id="master-dropdown-button" onclick="showdropdown()">
         <img src="static/image/dropdown.png"> </img>
        <div id="master-dropdown-menu" class="hidden">
        </div>
        </button>
      </div>